.container{
    display: flex;
    flex-direction: column;
}
button{
    width: 180px;
    padding: 10px 0px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.link i{
    font-size: 40px;
}


